# Sensitive config files
credentials.json
token.json
system_config.json

# Generated folders
downloads/
reports/


# Python cache
__pycache__/
*.pyc


# local or production level
app/config.py